.navbar {
	display: flex;
	width: 100%;
	height: auto;
	align-items: center;
}

.title {
	cursor: default;
	margin-right: auto;
}

.github-link-text {
	cursor: pointer;
	margin-left: auto;
}

.github-link-logo {
	cursor: pointer;
	margin-left: auto;
	font-size: clamp(24px, 5vw, 36px);
	padding-right: 12px;
}

.bi bi-github {
	color: black;
}

/*Mobile*/
@media (max-width: 1023px) {
	.navbar {
		padding: 20px;
	}
	.title {
		padding-top: 8px;
	}
	.github-link-text {
		display: none;
	}
	.github-link-logo {
		display: block;
		padding-top: 3px;
	}
}

/*PC*/
@media (min-width: 1024px) {
	.navbar {
		padding: 30px;
	}
	.title {
		padding-top: 11px;
		padding-left: 7px;
	}
	.github-link-text {
		display: block;
		padding-top: 11px;
		padding-right: 14px;
	}
	.github-link-logo {
		display: none;
	}
}
